<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1>Strona z menu</h1>

<hr />
<h2>Menu ręczne</h2>

<ul>
    <li><a href="{{ path('czarnykotek') }}">lorem</a></li>
    <li><a href="{{ path('niebieskimotylek') }}">ipsum</a></li>
    <li><a href="{{ path('url_dolor') }}">dolor</a></li>
</ul>

<hr />

<h2>Menu automatyczne</h2>

{{ knp_menu_render('MyFrontendBundle:Builder:mainMenu') }}

<hr />


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
